<div class="content">
	<div class="container-fluid">
	 	<div class="row">
	    	<div class="col-lg-12">
	      		<div class="card">
		              <div class="header">
		                  <h4 class="title">Nueva Pregunta</h4>
		              </div>
						<%= render 'form', question: @question %>

						<%= link_to 'Back', questions_path, class: "btn btn-info btn-fill" %>
				</div>
	    	</div>
	 	 </div>
	</div>
</div>