
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="header">
              <h4 class="title">Datos de la Pregunta</h4>
          </div>
          <div class="content">
              <ul class="list-unstyled team-members">
                <li>
                    <div class="row">
                        <div class="col-xs-6">
                            Nombre
                            <br />
                            <span class="text-primary"><small> <%= @question.question %></small></span>
                        </div>
                        <div class="col-xs-6">
                            Descripción
                            <br />
                            <span class="text-primary"><small> <%= @question.answer %></small></span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                    	<div class="col-xs-6">
                            <%= link_to 'Edit', edit_question_path(@question), class: "btn btn-info btn-fill" %>
                        </div>
                        <div class="col-xs-6">
                           <%= link_to 'Back', questions_path, class: "btn btn-info btn-fill" %>
                        </div>
                    </div>
                </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>