<!-- Footer -->
    <footer class="py-footer">
      <div class="container">
        <div class="col-md-6">
          <p class="part1footer"> 
            Rangel Paper 
            <br>
            &nbsp;
            <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;Address: Isla de Margarita - Venezuela
            <br>
            &nbsp;
            <i class="fa fa-phone" aria-hidden="true"></i> &nbsp;Phone: +58 426.787.60.99
            <br>
            &nbsp;
            <i class="fa fa-envelope" aria-hidden="true"></i> Email: rangelpaper@gmail.com
          </p>
        </div>
        <!-- <div class="col-md-3">
          <p class="part2footer"> 
            Rangel Paper 
            <br>
            &nbsp;
            <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;Address: Isla de Margarita - Venezuela
            <br>
            &nbsp;
            <i class="fa fa-phone" aria-hidden="true"></i> &nbsp;Phone: +58 426.787.60.99
            <br>
            &nbsp;
            <i class="fa fa-envelope" aria-hidden="true"></i> Email: rangelpaper@gmail.com
          </p>
        </div> -->
        <div class="col-md-3">
        </div>
      </div>
      <!-- /.container -->
    </footer>
    <footer class="py-footerpink">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Rangel Paper. Todos los derechos reservados</p>
      </div>
      <!-- /.container -->
    </footer>