
<!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav m-auto">
            <li class="nav-item active">
              <%= link_to "INICIO", root_path, class: "nav-link" %>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                INVITACIONES
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <%= link_to "INFANTILES", home_childish_url, class: "dropdown-item" %>
                <a class="dropdown-item" href="#">ADULTOS</a>
                <a class="dropdown-item" href="#">BODA</a>
                <a class="dropdown-item" href="#">OTROS EVENTOS</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                DETALLES Y COMPLEMENTOS
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">RECUERDITOS</a>
                <a class="dropdown-item" href="#">REGALOS DE SALIDA</a>
                <a class="dropdown-item" href="#">CAJITAS/BOLSITAS</a>
                <a class="dropdown-item" href="#">COMPLEMENTOS</a>
                <a class="dropdown-item" href="#">ARTICULOS DE MADERA</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">IMPRIMIBLES</a>
            </li>
            <li class="nav-item">
              <%= link_to "CONTACTO", new_contact_path, class: "nav-link" %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
