<div class="container">
  	<div class="row">
    	
    	<div class="col-md-4">
    		<%= render "shared/category" %>
    	</div>
    
    	<div class="col-md-8">
    		<h5 class="form-title">BIENVENIDA</h5>
    		
    		<div class="row">
	    		<div class="col">
	    			<%= render template: "devise/registrations/new" %>
	    		</div>
	    		<div class="col">
	    			<%= render template: "devise/sessions/new" %>
	    		</div>
    		</div>
 		</div>

  	</div>
</div>