<div class="content">
	<div class="container-fluid">
	 	<div class="row">
	    	<div class="col-lg-8 col-md-7">
	      		<div class="card">
		              <div class="header">
		                  <h4 class="title">Nuevo Evento</h4>
		              </div>
						<%= render 'form', event: @event %>

						<%= link_to 'Back', events_path, class: "btn btn-info btn-fill" %>

				</div>
	    	</div>
	 	 </div>
	</div>
</div>
